{% macro render_writing_modal() %}

<!-- Modal: modalPoll -->
<div class="modal fade right" id="writing_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">글쓰기
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <!--Body-->
      <form method=POST action="{{ url_for('Tip_add') }}">
      <div class="modal-body">
        <div class="text-center">
          <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i>
          <p>
            <strong>나만의 팁</strong>
          </p>
          <p>게임을 플레이에 관한 팁이 있나요?</p>
            <strong>나만의 팁을 작성해주세요!</strong>
          </p>
        </div>

        <hr>

        <!-- select -->
        
        <select class="browser-default custom-select" name = "tip_select">
          <option selected>이 팁을 추천하고싶은 라이너</option>
          <option value="1">탑</option>
          <option value="2">정글</option>
          <option value="3">미드</option>
          <option value="4">원딜</option>
          <option value="5">서포터</option>
        </select>
        <!-- select -->

        <hr>

        <label for="basic-url">유튜브 영상 첨부</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">https://www.youtube.com/watch?v=</span>
          </div>
          <input type="text" class="form-control" name = "tip_url" id="basic-url" aria-describedby="basic-addon3">
        </div>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">제목</span>
          </div>
          <input type="text" class="form-control" name = "tip_title" aria-label="Amount (to the nearest dollar)">
        
        </div>
        
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">내용</span>
          </div>
          <textarea class="form-control" name = "tip_text" aria-label="With textarea"></textarea>
        </div>

        <div class="text-right">
          <button class="btn btn-default" data-toggle="modal" data-target="#writing_modal">글쓰기</button>
      </div>

    </div>
  </form>
  </div>
  
</div>
</div>

      {% endmacro %}