<!-- search.html -->
<!DOCTYPE html>
<head>
    <title>전적검색결과</title> 
</head>
<body>
    최근 게임 플레이 시간 (단위 : 분) : {{game_time}} <br>    
    블루 승패 : {{b_win}} <br>
    부순 포탑 갯수 : {{b_towerKills}}  <br>
    부순 억제기 갯수 : {{b_inhibitorKills}}  <br>
    잡은 바론 마릿수 :  {{b_baronKills}}  <br>
    잡은 전령 마릿수 : {{b_riftHeraldKills}}  <br><br>
        
    레드 승패 : {{r_win}} <br>
    부순 포탑 갯수 : {{r_towerKills}}  <br>
    부순 억제기 갯수 : {{r_inhibitorKills}}  <br>
    잡은 바론 마릿수 :  {{r_baronKills}}  <br>
    잡은 전령 마릿수 : {{r_riftHeraldKills}}  <br><br>

    킬: {{kill}} <br>
    데스:{{death}} <br>
    어시:{{assist}} <br><br>
    획득한 골드:{{gold}} <br><br>
    몬스터와 게이머에게 가한 총 데미지:{{totalDmg}} <br>
    게이머에게만 가한 총 데미지:{{champDmg}} <br>
    마법공격총데미지:{{magicDmg}} <br>
    신체공격총데미지(그 마법공격력의 반대가 뭔지 기억이 안나...):{{psyDmg}} <br><br>
    받은 총 피해:{{takenDmg}} <br>
    미니언 수:{{minion}} <br>
    총힐량:{{heal}} <br>
    최대킬수:{{largekill}} <br>    
    챔피온 레벨:{{champlevel}} <br><br>
    시야점수:{{visionScore}} <br>
    제어와드 구입 갯수:{{v_wardbuy}} <br>
    설치한 와드 갯수:{{wardsplaced}} <br>
    파괴한 와드 갯수:{{wardskill}} <br><br>

    주요 룬:{{rune_1}}<br>
    서브 룬:{{rune_2}}<br>
    스펠1(D) :{{spell_1}}<br>
    스펠2(F) :{{spell_2}}<br>
    챔피온 넘버 :{{champID}}<br>

    <script>        
         var all_name = '{{game_summonerName}}';
         var all_name = all_name.replace("[",""); //특수문자제거 
         var all_name = all_name.replace("]","");

         var game_name = all_name.split(','); //쉼표를 기준으로 이름 나누기
         
         var i = 0;     
         while(i<=190){
            var blue = game_name.slice(i,i+5);
            var red = game_name.slice(i+5, i+10);
            document.write('<p>'+'블루팀 : ' + blue+'<p>');       
            document.write('레드팀 : ' + red+'<p>');
            document.write('-------------------------------------------------------------------------')
            i += 10;
         }
         //for (var i =0; i < game_name.length ; i+1){
            //document.write(game_name[i]+"<br>");
            // var blue = game_name.slice(i,i+4);
            // var red = game_name.slice(i+5, i+9);
            // document.write('블루팀' + blue+'<p>');
            // document.write('레드팀' + red+'<p>');
                
    </script>
</body>